// Colors
$black:        #000;
$lightGray: #7E899B;
$link: #4990E2;

// Theme colors
$success: rgba(125, 185, 179, 0.35);
$info: rgba(74, 144, 226, 0.4);
$warning: rgba(227, 8, 19, 0.4);

// Fonts
$primary: 'Open Sans';
$secondary: 'Roboto';
$tertiary: 'Raleway';

// Font Weights
$xThin: 100;
$thin: 300;
$normal: 400;
$bold: 700;

// Font Sizes
$small: 0.75em;
$normal: 1em;
$large: 1.5em;
$nav: 1.2em;

// Spacing
$spacing-0: 0px;
$spacing-1: 8px;
$spacing-2: 16px;
$spacing-3: 32px;
$spacing-4: 64px;

// Box Shadow
$shadow-1:  0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadow-2: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$shadow-3: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$shadow-4: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
$shadow-5: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
