.topNav {
  padding: 16px 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 540px) {
  .topNav-separator {
    display: none;
  }
  .logo {
    margin-bottom: 10px;
  }
}
