@import "css/_variables";

.link {
  text-decoration: none;
}

.header {
  color: $link;
  font-weight: 700;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &:hover {
    color: $black;
  }
}
