@import 'css/_variables';

.tag {
  background: $black;
  color: white;
  padding: $spacing-1;
  font-family: $secondary;
  font-weight: bold;
  font-size: $small;
  border-radius: 3px;
  text-transform: uppercase;
}
