@import 'css/_variables';

.tag {
  background: $black;
  color: white;
  padding: $spacing-1;
  font-family: $secondary;
  font-weight: bold;
  font-size: $tiny;
  border-radius: 3px;
  text-transform: uppercase;
  letter-spacing: 0.15em;
}
