@import "css/_variables";

.tag {
  background: rgba(0,0,0,0.1);
  padding: $spacing-1;
  font-family: $secondary;
  font-weight: $xThin;
  font-size: $small;
  cursor: pointer;
  border-radius: 3px;
  text-transform: capitalize;
  &:hover {
    background: rgba(0,0,0,0.2);
  }
}
